<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.book_trading">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <dist:module dist:instant="true" />

    <application
        android:name=".chat.NotificationBase"
        android:allowBackup="true"
        android:background="#FFFFFF"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".chat.xmppService"
            android:enabled="true"
            android:exported="true"></service>

        <receiver android:name=".chat.chatBroadcastReceiver">
            <intent-filter>
                <action android:name="EMPFANGEN" />
                <action android:name="GESENDET" />
                <action android:name="GESENDET_LOGIN_SERVICE" />


                <!-- <category android:name="..."/> -->
                <!-- <data android:mimeType="*/*"/> -->
            </intent-filter>
        </receiver>




        <activity android:name=".chat.chatActivity" />
        <activity android:name=".chat.chat_uebersichtActivity" />
        <activity android:name=".app_activities.RegisterActivity" />
        <activity android:name=".app_activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app_activities.ProfilActivity"
            android:label="Profil" />
        <activity
            android:name=".app_activities.ProfilFremdActivity"
            android:label="Profil" />
        <activity
            android:name=".app_activities.ForumActivity"
            android:label="Forum" />
        <activity
            android:name=".app_activities.MyForumActivity"
            android:label="Mein Forum" />
        <activity
            android:name=".app_activities.ForumCommentActivity"
            android:label="Details" />
        <activity
            android:name=".app_activities.ForumEintragActivity"
            android:label="Forum Eintrag" />
    </application>

</manifest>